doctype html
html
  head
    title= title
    script(src="/vendors/jquery/jquery.min.js")
    script(src="/vendors/lodash/dist/lodash.min.js")
    script(src="/vendors/moment/moment.js")
    script(src="/javascripts/main.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content